/* FOOTER */

footer {
    background: #81A6C6;
    padding: 25px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.footer-links a:hover {
    color: lightgray;
}